<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>homework9_new</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="menu-container"></div>
    <script type="text/template" id="menu">
        <div class="keyboard">
            <div class="keyboard__row">
                <% tops.forEach(item => { %>
                    <button class="keyboard__btn" data-note="do">
                        <%- item %>
                    </button>
                    <% }); %>
            </div>
            <div class="keyboard__row">
                <% middle.forEach(item => { %>
                    <button class="keyboard__btn" data-note="do">
                        <%- item %>
                    </button>
                    <% }); %>
            </div>
            <div class="keyboard__row">
                <% bottom.forEach(item => { %>
                    <button class="keyboard__btn" data-note="do">
                        <%- item %>
                    </button>
                    <% }); %>
            </div>
            <div class="keyboard__row">
                <button class="keyboard__btn keyboard__btn--space" data-note="do">space</button>
            </div>
        </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="js.js"></script>
</body>

</html>